.avatar {
  overflow: hidden;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: block;
  @include media-breakpoint-up(lg) {
    width: 60px;
    height: 60px;
  }
  &--small {
    width: 30px;
    height: 30px;
  }

  &--big {
    width: 60px;
    height: 60px;

    @include media-breakpoint-up(lg) {
      width: 150px;
      height: 150px;
    }
  }
  &--center {
    margin-left: auto;
    margin-right: auto;
  }

  &--border {
    border: 4px solid #e1e1e1;
  }
  &__image {
    width: 100%;
    display: block;
  }
}
