.user-detail {
  &__action {
    position: absolute;
    top: -15px;
    right: 5px;
    @include media-breakpoint-up(sm) {
      top: 15px;
      right: 15px;
    }
  }

  &__card {
    display: block;

    &__header {
      position: relative;
      min-height: 75px;
      @include media-breakpoint-up(lg) {
        min-height: 150px;
      }
      background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    }
  }

  &__infos {
    position: relative;
    &__title {
      @extend .font-bold;
    }

    &__name {
      font-size: 16px;
      @include media-breakpoint-up(lg) {
        font-size: 28px;
      }
    }

    &__occupation {
      font-size: 16px;
      color: $gray-medium;
      margin-bottom: 10px;
      @include media-breakpoint-up(lg) {
        font-size: 20px;
      }
    }

    &__icon {
      width: 25px;
      margin-right: 5px;
    }
  }

  &__infosbasic {
    display: flex;
    margin-bottom: 15px;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      flex: 1 0 50%;

      @media(min-width: 660px) {
        flex-basis: 33.333%;
      }

      @media(min-width: 992px) and (max-width: 1280px) {
        flex-basis: 50%;
      }

      @include media-breakpoint-up(lg) {
        margin-bottom: 40px;
      }
      &__question {
        font-size: 14px;
        margin-bottom: 0;
        @extend .font-bold;
        text-transform: uppercase;
      }

      &__answer {
        font-size: 14px;

        @include media-breakpoint-up(sm) {
          font-size: 16px;
        }
      }
    }
  }

  .card-body {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;

    @include media-breakpoint-up(lg) {
      padding-top: 80px;
    }
  }

  .avatar {
    position: absolute;
    bottom: -25px;
    left: 15px;

    @include media-breakpoint-up(lg) {
      bottom: -70px;
      left: 15px;
    }
  }
}

.card {
  &__title {
    font-size: 18px;
    margin-bottom: 15px;
    @extend .font-bold;
    @include media-breakpoint-up(lg) {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
}

.card-default {
  position: relative;
  &__item {
    display: flex;
    align-items: center;
    padding: 30px 0;
    &:not(:last-of-type) {
      border-bottom: 1px solid #e3e3e3;
    }
    &:first-of-type {
      padding-top: 10px;
    }
  }
  &__left {
    position: relative;
    &__image {
      max-width: 50px;
    }
    &__text {
      display: block;
      font-size: 14px;
      text-align: center;
      color: $gray-medium;
    }
  }

  &__texts {
    padding-left: 20px;
  }

  &__title {
    @media(max-width: 320px) {
      font-size: 15px;
    }
    font-size: 18px;
    margin-bottom: 5px;
    @extend .font-bold;
    @include media-breakpoint-up(lg) {
      font-size: 20px;
    }

    &--small {
      font-size: 12px;
      display: inline-block;
    }
  }

  &__subtitle {
    margin-bottom: 0;
    font-size: 18px;
  }
}
