.header {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 0 15px;
  position: fixed;
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  background-color: $black-medium;

  @include media-breakpoint-up(lg) {
    margin-left: 270px;
    width: calc(100% - 270px);
    justify-content: flex-end;
  }
  &__user {
    color: $white;
    display: flex;
    cursor: pointer;

    &__text {
      margin-left: 10px;
    }
  }
}
