<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<!-- build:css assets/css/style.min.css -->
		<link rel="stylesheet" href="/assets/css/styles.css">
	<!-- endbuild -->
</head>

<body>

	{% include "./header.html" %}
	{% include "./sidebar-menu.html" %}

  <main class="main-content">
	  {% block content %}{% endblock %}
  </main>

  <div class="main-backdrop"></div>

	{% include "./scripts.html" %}

</body>

</html>
