<aside class="sidebar">
  <div class="sidebar__header">
    <img class="logo" src="../assets/img/icons/logomarca-mereo.svg" alt="">
    <img class="icon-back" src="../assets/img/icons/icon-back.svg" alt="">
  </div>

  <nav class="sidebar__content">
    <ul class="sidebar__content__menu list-default">
       <li class="sidebar__content__menu__item">
        <a class="sidebar__content__menu__item__link link-default" href="">
        <img class="sidebar__content__menu__item__icon" src="../assets/img/icons/icon-user.svg" alt="">
        Pessoas</a>
       </li>
    </ul>
  </nav>
</aside>
